.contact-section {
  height: 80vh;
  position: relative;

  h1 {
    position: absolute;
    top: -3em;
    // font-size: 2.5em;
  }

  h2 {
    margin: 1em 0;
    font-size: 28px;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-link {
      margin: 0 2em;
      .icon {
        // height: 2rem;
        // width: 2rem;
        border-radius: 5px;
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: rgb(22, 21, 21);
  padding: 1em 2em;
  margin-bottom: 2em;;
  bottom: 0;
  border-radius: 40px;
}